body{
  width:1300px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
}

/*.whitebtn, .greenbtn and .bluebtn are the three types
    of buttons classes for all buttons in the button grid
    between which a script will switch per click.*/
.whitebtn{
    background-color: #ffffff;
    border: 0.5px solid black;
    color: white;
    padding: 15px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    margin: 0.1px 0.1px;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 300px;
    min-width: 85px;
}

.greenbtn{
  background-color: #00ff00;
  border: 0.1px solid black;
  color: black;
  padding: 15px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin: 0.1px 0.1px;
  cursor: pointer;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 300px;
  min-width: 85px;
  text-transform: capitalize;
}

.bluebtn{
  background-color: #0000ff;
  border: 0.5px solid black;
  color: blue;
  padding: 15px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  margin: 0.1px 0.1px;
  cursor: pointer;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 300px;
  min-width: 85px;
}


/*text-transform capitalises every word entered into the textarea
  improving the user experience.*/
#myTextarea{
  font-family: "Courier New", Courier, monospace;
  resize:none;
  display: block;
  border: 3px solid red;
  text-transform: capitalize;
}

/*Improves recognizability of "Create" button on visual layout page.*/
#createSP{
  background-color: #ff0101;
  color: white;
}
/*a:link {
  text-decoration: none;
  background-color: blue;
}*/

#navbutton{
  background-color: #ffffff;
}

#greenChair{
  color: #00ff00;
}
#blueTable{
  color: #0000ff;
}
#pInstructions{
  width: 540px;
  color:orange;
}
